@charset "UTF-8";

/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@media only screen and (min-width: 300px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'roboto';
        border: none;
    }
    #map {
        height: 300px;
      }
    .result {
        display: none;
    }
    .center {
        margin: auto;
        width: 80%;
        margin-top: 150px;
        text-align: center;
        h1 {
            font-weight: 300;
            font-size: 20px;
            color: #626262;
            padding-bottom: 56px;
        }
        .btnPack {
            display: flex;
            justify-content: center;
        }
        .btn {
            width: 200px;
            height: 50px;
            background-color: #bfbfbf;
            color: #fff;
            font-size: 24px;
            font-weight: 400;
            border-radius: 10px;
        }
        .yes {
            /* Rectangle: */
         
            background: #FFFFFF;
            border: 1px solid #979797;
            border-radius: 10px 0 0 10px;
            width: 94px;
            height: 54px;
            /* Yes: */
            font-size: 18px;
            color: #626262;
            letter-spacing: 0;
            outline: none;
      
      
        }
        .yes:hover {
            background: #2196f3;
            color: #fff;
            border: 1px solid #2196f3;

        }

        .no:hover {
            background: #2196f3;
            color: #fff;
            border: 1px solid #2196f3;

        }

        .no {
    
            background: #e5e5e5;
            border: 1px solid #979797;
            border-radius: 0 10px 10px 0;
            width: 94px;
            height: 54px;
            /* Yes: */
            font-size: 18px;
            color: #626262;
            letter-spacing: 0;
            outline: none;
 

        }
        .btnActive {
            background-color: #97C1FF;
        }

        }

        .wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding-bottom: 50px;
        
            label {
                position: relative;
                display: flex;
                align-items: center;
                height: 120px;
                width: 120px;
                background-color: #e5e5e5;
                border-radius: 5px;
                margin: 10px;
                cursor: pointer;
                input {
                    display: none;
                }
                h2 {
                    text-align: center;
                    display: block;
                    font-weight: 400;
                    font-size: 18px;
                    width: 100%;
                }
                svg {
                    display: none;
                }
            }
            .selected {
                background-color: #2196F3;
                color: #fff;
                svg {
                    display: block;
                    position: absolute;
                    left: 45px;
                    bottom: 7px;
                }
            }
        }
    }
